[submodule "Volume/PointPillars"]
	path = Volume/PointPillars
	url = git@github.com:jrached/PointPillars.git
[submodule "Volume/gridnet_ws/src/gridnet_pkg"]
	path = Volume/gridnet_ws/src/gridnet_pkg
	url = git@github.com:jrached/gridnet_pkg.git
